@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap"); /* Reset SCSS */
/* Box sizing */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body, html {
  min-height: 100%;
  min-width: 100%;
  line-height: 1;
}

/* Remove list styles */
ol, ul {
  list-style: none;
}

/* Remove default hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  position: relative;
  font-family: "Overpass", sans-serif;
  background-color: hsl(216, 12%, 8%);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.375rem;
  font-weight: 700;
}

p, span {
  color: hsl(216, 12%, 54%);
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 1.375rem;
  height: clamp(22.5rem, 40vw, 26rem);
  width: clamp(20.5rem, 40vw, 26rem);
  background-color: hsl(213, 19%, 14%);
  border-radius: 1rem;
  color: hsl(0, 0%, 100%);
}

#rating_state {
  display: block;
}
#rating_state .circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  margin-bottom: 1.25rem;
}
#rating_state p {
  margin-bottom: 1.875rem;
}
#rating_state .score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
#rating_state #submit {
  width: 100%;
  font-weight: 700;
  padding: 1rem;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  border: 0px;
  border-radius: 9rem;
  cursor: pointer;
}

.thank_you {
  display: none;
  text-align: center;
}
.thank_you__img {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.thank_you .review {
  margin-inline: auto;
  color: hsl(25, 97%, 53%);
  padding: 0.5rem;
  width: 10.5rem;
  background: hsl(213, 19%, 18%);
  border-radius: 9rem;
  margin-bottom: 1.75rem;
}
.thank_you #score_review {
  color: hsl(25, 97%, 53%);
}

.bg-orange {
  background-color: hsl(25, 97%, 53%) !important;
  color: hsl(0, 0%, 100%) !important;
}

@keyframes color-transition {
  0% {
    background-color: hsl(213, 19%, 18%);
  }
  50% {
    background-color: hsl(25, 97%, 53%);
  }
  100% {
    background-color: hsl(213, 19%, 18%);
  }
}
.animate-color-transition {
  animation-name: color-transition !important;
  animation-duration: 500ms !important;
  animation-timing-function: ease-in-out !important;
}

@media (min-width: 64rem) {
  .card {
    padding: 2rem;
  }
  #rating_state .rating {
    transition: all 200ms ease-in-out;
  }
  #rating_state .rating:hover {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  #rating_state .circle {
    height: 3.25rem;
    width: 3.25rem;
    margin-bottom: 2rem;
  }
  .thank_you {
    padding: 2.75rem;
  }
  .thank_you__img {
    margin-bottom: 2rem;
  }
}/*# sourceMappingURL=style.css.map */